<% provide(:title, 'Comment編集') %>

<div class="form-container">
  <h1>コメント編集</h1>
  <p>Key Result : <%= @key_result.title %></p>
    <%= form_with(model: @key_result_comment, local: true) do |f| %>
      <%= render 'form', f: f %>
    <% end %>
</div>
