<% provide(:title, 'Comment登録') %>

<div class="">
  <h1 class="">コメント登録</h1>
  <p class="">Key Result : <%= @key_result.title %></p>
    <%= form_with(model: [@section_okr, @key_result_comment], local: true, class: "") do |f| %>
      <%= render 'form', f: f %>
    <% end %>
</div>
