<% provide(:title, 'Edit') %>

<div class="form-container">
  <h1>個人OKR編集</h1>
  <%= form_with(model: @personal_okr, local: true, class: "form-horizontal w-3/4 mx-auto") do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
