<div class="w-full mt-4">
  <div class="flex flex-col mt-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: "" %>
  </div>

  <div class="flex flex-col mt-8">
    <%= f.submit "登録", class: "" %>
  </div>
</div>
