<% provide(:title, 'Section') %>

<div>
  <div class="flex">
    <%= link_to '新規登録', new_section_path %>
  </div>

    <% @sections.each do |section| %>
        <span class="font-semibold"><%= section.name %></span>
    <% end %>
</div>
