<% provide(:title, 'Section') %>

<div class="flex">
  <%= link_to 'Section新規登録', new_section_path %>
</div>

<h1>Section名</h1>
<div class='text-nowrap table-responsive'>
  <table class='table table-hover table-fixed'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <span>Section名</span>
        </th>
        <th scope="col">
          <span>操作一覧</span>
        </th>
      </tr>
      </thead>
      <tbody>
        <% @sections.each do |section| %>
        <tr>
          <td>
            <h3><%= section.name %></h3>
          </td>
          <td>
            <div>
              <%= link_to '編集', edit_section_path(section.id),  class: '' %>
            </div>
            <div>
              <%= link_to '削除', section_path(section.id), method: :delete, class: '', data: { confirm: '削除してよろしいですか？' } %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
