<% provide(:title, 'Section 登録') %>

<div class="form-container">
  <h1>Section 登録</h1>
    <%= form_with(model: @section, local: true, class: "") do |f| %>
      <%= render 'form', f: f %>
    <% end %>
</div>
