@import '~bootstrap/scss/bootstrap';

.icon_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
}

nav {
  margin-bottom: 25px;
}

.form-container {
  margin: 0px 150px 0px 150px;
}
